@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right,#FEEADC,#FEE3A2 );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #91815dc0;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color:#032029 ;
    text-align: center;
    text-shadow: 1px 1px 2px #0007089f;
}

h2 {
    color:#0C345C ;
}

p {
    text-align: justify;
}